
// .logo {
//   height: 6em;
//   padding: 1.5em;
//   will-change: filter;
//   transition: filter 300ms;
// }
// .logo:hover {
//   filter: drop-shadow(0 0 2em #646cffaa);
// }
// .logo.react:hover {
//   filter: drop-shadow(0 0 2em #61dafbaa);
// }

// @keyframes logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// @media (prefers-reduced-motion: no-preference) {
//   a:nth-of-type(2) .logo {
//     animation: logo-spin infinite 20s linear;
//   }
// }

// .card {
//   padding: 2em;
// }

// .read-the-docs {
//   color: #888;
// }
@use './styles/variables' as var;
@use './styles/buttons';

* {
  font-size: 16px;
  font-family: 'Lucida Sans', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: var.$black;
}

body {
   background: var.$bg-grey;
}

#root {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

a {
  font-weight: 500;
  color: var.$highlight-text; 
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: var.$hover-text; 
}


input {
  border: 1px solid var.$border;
  border-radius: 4px;
  margin: 4px;
  padding: 10px;
}

input[type='button'] {
  cursor: pointer;
}

input:disabled {
  cursor: none;
}