@use '../../styles/variables.scss' as var;

.login-wrapper {
    width: 25%;
    margin: 0 auto;
    justify-content: center;
    border: 1px solid var.$border;
    box-shadow: 0px 0px 4px var.$box-shadow;
    padding: 40px 20px;
    border-radius: 8px;
    background-color: var.$white;
}